{% load static %}
    <link rel="stylesheet" href="{% static 'css/base/headnav.css' %}">
    <nav class="head-navbar">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm..." class="search-input">
            <button type="submit" class='search-button' style='width:90px'><i class='bx bx-search'></i></button>
        </div>
        <div class="head-right-icons">
          <li class="nav-link" style ='padding : 5px'>
            <a href="" class="nav-link" style='padding-left : 10px;padding-top : 10px'>
                <i class='bx bxs-bell-ring'></i>
            </a>
          </li>  
            <div class="profile">
              <li class="nav-item dropdown">
                <a class="nav-link dropbtn dropdown-toggle" href="#" id="navbarDropdown" role="button" onclick="toggleDropdown(event)">
                  {{ user.username }}
                </a>
                <div class="dropdown-content dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info">Thông tin</a>
                  <a class="dropdown-item" href="#">Chỉnh sửa</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
                </div>
              </li>
      
            </div>
        </div>
    </nav>
    <script>
      function toggleDropdown(event) {
          event.preventDefault();
          const dropdown = event.target.closest('.dropdown');
          dropdown.classList.toggle('show');
      }
      window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            const dropdowns = document.querySelectorAll('.dropdown');
            dropdowns.forEach(dropdown => {
              dropdown.classList.remove('show');
            });
          }
      }
    </script>
    