body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.container-box {
  display: flex;
  background-color: #f3f8f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.split {
  height: 100%;
  position: fixed;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #e7edee;
}

.right {
  right: 0;
  background-color: #f3f8f9;
}



.welcome {
  margin-top: 10%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  width: 38%;
  margin: 50px auto;
  margin-top: 0%;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 30px 10px 8px;
  border: 2px solid #0071BC;
}

.btn-container {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.btn {
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 6px 10px 6px;
  border-radius: 8px;
  width: 100%;
  color: white;
  background-color: #0071BC;
  border: none;
  margin-top: 20px;
  margin-bottom: 12px;
}

.btn:hover {
  background-color: #0056b3;
}

.custom-link {
  padding-top: 5px;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
}

.custom-link a {
  color: #0D6EFD;
  text-decoration: underline;
}

.welcometext {
  font-weight: unset;
  font-size: x-large;
  font-family: "Inter", sans-serif;
}

.big-logo {
  width: 320px;
  height: 320px;
}

.heading-text {
  font-size: x-large;
  margin-bottom: 60px;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input-box label {
  font-size: 14px;
  font-weight: 700;
}

.input-radio {
  display: flex;
  column-gap: 8px;
  margin-top: 6px;
}

.input-radio label {
  font-size: small;
}

.input-box input {
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 30px 10px 8px;
  border: 2px solid #0071BC;
}
#regis-btn {
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 6px 10px 6px;
  border-radius: 8px;
  width: 100%;
  color: white;
  background-color: #0071BC;
  border: none;
  margin-top: 60px;
  margin-bottom: 12px;
}

#regis-btn:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #065a93;
}