hm-body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  align-items: flex-start;
}

.hm-container {
  font-size: 18px;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.hm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hm-header .date-range {
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 3px;
}

.hm-header .date-range input {
  border: none;
  background: none;
  font-size: 14px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead th {
  border-bottom: 2px solid #000000;
  padding: 10px 0;
  text-align: left;
}

table tbody td {
  padding: 10px 0;
  font-size: 14px;
  vertical-align: top;
}

.middle-container {
  display: flex;
  height: 100vh;
  font-size: 13px;
}
.middle-sidebar {
  width: 200px;
  padding: 20px;
  padding-left: 0px;
  border-right: 2px solid #000000;
}
.middle-sidebar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.middle-sidebar .verified {
  text-align: center;
  color: green;
  margin-top: 10px;
}
.middle-sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.middle-sidebar nav ul li {
  margin-top: 0px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding-right: 20px;
}

.middle-sidebar nav ul li.active {
  font-weight: bold;
  color: black;
}

.middle-sidebar nav ul li.active::after {
  content: " \2192";
  position: absolute;
  right: 10px;
}
.middle-sizebar strong {
  font-size: 18px;
}
.middle-content {
  flex: 1;
  padding: 20px;
}
.middle-content h2 {
  margin-bottom: 20px;
}
.middle-content .info {
  margin-bottom: 10px;
}
.middle-content .info span {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}
.middle-content .info input {
  display: inline-block;
  height: 20px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #d1d1d1;
}
.middle-content .notes {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #d1d1d1;
  margin-left: 153px;
}
.ctv {
  font-size: 13px;
  padding: 10px;
  padding-left: 0px;
  font: caption;
}

.ctv-status {
  color: #000000;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
