.container {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  color: black;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  margin-left: 0;
  margin-top: 1vw;
}

h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.2vw;
  color: black;
}

h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1vw;
  color: black;
}

.left-container {
  flex: 6;
}

.right-container {
  flex: 4;
}

.question {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  color: black;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  max-width: 40vw;
  line-height: 2vw;
}

.questionContent {
  padding: 0 1vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: 400;
  margin-left: 1vw;
}

.verified-badges {
  width: 12vw;
  height: auto;
  margin-top: 1vw;
  display: block;
}

.footer {
  margin-top: 5vw;
  bottom: 0;
  height: 15vw;
}

.footer a {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  color: black;
}

.footer a.terms {
  line-height: 2vw;
}

.text-box {
  border-radius: 25px;
  background: #f4f4f4;
  padding: 2vw;
  width: 20vw;
  height: 10vw;
  margin: auto;
  text-align: center;
}

.text-box h3 {
  text-align: center;
}

.text-box div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vw;
}

.text-box img {
  width: 3vw;
  padding: 0.4vw;
}
