{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
  <script src="{% static "scripts/authentication/auth.js" %}"></script>
</head>

<body>
  <div class="split left">
    <div class="centered-left">
      <img src="{% static "images/logo.png" %}" alt="Logo">
    </div>
  </div>

  <div class="split right">
    <strong class="welcome">Chào mừng tham gia DGS!</strong>
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group">
          <label for="phone_no">Số Điện Thoại:</label>
          <input type="tel" id="phone_no" name="phone_no" placeholder="Số Điện Thoại" maxlength="10" pattern="[0-9]*"
            required onkeypress="validateNumberInput(event)">
        </div>
        <div class="input-group">
          <label for="password">Mật Khẩu:</label>
          <input type="password" id="password" name="password" placeholder="Mật Khẩu" required>
        </div>
        <div class="btn-container">
          <button type="submit" class="btn">Đăng Nhập</button>
        </div>
      </form>
      <a href="../register" class="custom-link">Chưa có tài khoản?</a>
    </div>
  </div>
</body>

</html>