{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <link rel="stylesheet" href="{% static 'css/authentication/register.css' %}">
        <script src="{% static "scripts/authentication/auth.js" %}"></script>
    </head>
    <body>
        <div class="split left" style="background-color: #eeecec; border-radius: 16px 0px 0px 16px">
            <div class="flex-centered">
              <img src="{% static "images/logo.png" %}" alt="Logo" class="big-logo">
            </div>
          </div>
        
        <div class="split right">
            <div  class="welcome">
                <strong class="welcometext">Chào mừng tham gia DGS!</strong>
            </div>
            <div class="container">
                <form method="POST">
                  {% csrf_token %}
                    <div class="input-group">
                      <label for="username_zalo">Tên người dùng Zalo</label>
                      <input type="text" id="username_zalo" name="username_zalo" placeholder="Tên người dùng" required>
                    </div>
                    <div class="input-group">
                        <label for="phone_no">Số Điện Thoại:</label>
                        <input type="tel" id="phone_no" name="phone_no" placeholder="Số Điện Thoại" pattern="[0-9]*" maxlength="10" required onkeypress="validateNumberInput(event)">
                    </div>
                    <div class="input-group">
                        <label for="password1">Mật Khẩu:</label>
                        <input type="password" id="password1" name="password1" placeholder="Mật Khẩu" required>
                    </div>
                    <div class="input-group">
                        <label for="password2">Nhập Lại Mật Khẩu:</label>
                        <input type="password" id="password2" name="password2" placeholder="Mật Khẩu" required>
                    </div>
                    <div class="input-group">
                      <label for="email">Gmail quản lý CTV</label>
                      <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-radio">
                        <button type="submit" id="regis-btn">Đăng Ký</button>
                      </div>
                </form>
                <span href="../login" class="custom-link">Đã có tài khoản? <a href="../login">Đăng nhập ngay!!!</a></span>
            </div>
        </div>
    </body>
</html>
