body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.container-box {
  display: flex;
  background-color: #f3f8f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 88%;
  height: 82%;
  border-radius: 16px;
}

.split {
  width: 50%;
  padding: 8px;
}

.big-logo {
  width: 320px;
  height: 320px;
}

.heading-text {
  font-size: x-large;
  margin-bottom: 60px;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#login-panel {
  display: flex;
  flex-direction: column;
}

#login-panel p {
  font-size: small;
  text-align: center;
}

#login-panel strong {
  text-align: center;
}

.input-box label {
  font-size: 14px;
  font-weight: 700;
}

.input-check {
  display: flex;
  column-gap: 8px;
  margin-top: 6px;
}

.input-check label {
  font-size: small;
}

.input-box input {
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 30px 10px 8px;
  border: 2px solid #0071bc;
}

#login-btn {
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 6px 10px 6px;
  border-radius: 8px;
  width: 100%;
  color: white;
  background-color: #0071bc;
  border: none;
  margin-top: 60px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

#login-btn:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #065a93;
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.error-status {
  padding: 10px;
}

.error-status p {
  font-size: small;
  text-align: center;
  margin: 0px;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}