{% extends 'bases/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home/courses.css' %}">
<div>
    <h1>
        <center>
        Học Viện DGS
        </center>
    <h1>
</div>
<div class="tab-container">
    <div class="tabs">
        <button class="tab-button active" data-tab="tab-1">Hộ tịch</button>
        <button class="tab-button" data-tab="tab-2">Văn bản hành chánh</button>
        <button class="tab-button" data-tab="tab-3">Giấy tờ khác</button>
    </div>
    <div class="tab-content active" id="tab-1">
        <div class="row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
        <div class="row second-row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
    </div>
    <div class="tab-content" id="tab-2">
        <div class="row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
        <div class="row second-row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
    </div>
    <div class="tab-content" id="tab-3">
        <div class="row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
        <div class="row second-row">
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 1">                    <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a> 
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 2">
                <div class="itemcard-text">Hướng dẫn gửi bài</div>
                </a>            
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 3">
                <div class="itemcard-text">Hướng dẫn xử lý lỗi dữ liệu</div>
            </a>       
            <a href="#" class="card" data-video-id="gKEJ8sAwivE?si=NcscOb2PLrsI7XUx">
                <img src="https://static.ybox.vn/2023/3/6/1677940647778-Logo-DGS.jpg" alt="Image 4">
                <div class="itemcard-text">Hướng dẫn nhập liệu</div>
            </a>
        </div>
    </div>
</div>
<div id="video-modal" class="modal">
    <div class="modal-content">
        <span class="vidclose">&times;</span>
        <iframe id="video-frame" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const tabs = document.querySelectorAll('.tab-button');
        const contents = document.querySelectorAll('.tab-content');
        const cards = document.querySelectorAll('.card');
        const modal = document.getElementById("video-modal");
        const videoFrame = document.getElementById("video-frame");
        const closeModalButton = document.getElementsByClassName("close")[0];

        // Tab switching logic
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                tabs.forEach(t => t.classList.remove('active'));
                contents.forEach(content => content.classList.remove('active'));

                tab.classList.add('active');
                document.getElementById(tab.getAttribute('data-tab')).classList.add('active');
            });
        });

        // Tạo card popup view
        cards.forEach(card => {
            card.addEventListener('click', (e) => {
                e.preventDefault();
                const videoId = card.getAttribute('data-video-id');
                const videoUrl = `https://www.youtube.com/embed/${videoId}`;
                videoFrame.src = videoUrl;
                modal.style.display = "block";
            });
        });

        
        closeModalButton.onclick = function() {
            modal.style.display = "none";
            videoFrame.src = ""; 
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                videoFrame.src = ""; 
            }
        }
    });
</script>

{% endblock %}
