{% extends 'bases/base.html' %}
{% block content %}
<h1>Thống kê dữ liệu</h1>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Dự Án</th>
            <th>Loại</th>
            <th>Gói dữ liệu</th>
            <th>Số phiếu</th>
            <th>Đã nhập</th>
            <th>Chưa nhập</th>
            <th>Số trường lỗi</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {% for category, category_data in data.items %}
        {% if category_data.Du_An %}
        {% for du_an, du_an_data in category_data.Du_An.items %}
        <tr>
            <td></td>
            <td>{{ du_an }}</td>
            <td>{{ category }}</td>
            <td></td>
            <td>{{ du_an_data.total_votes }}</td>
            <td>{{ du_an_data.total_acceptances }}</td>
            <td>{{ du_an_data.total_rejections }}</td>
            <td>{{ du_an_data.total_error }}</td>
            <td></td>
        </tr>
        {% for magoiCV, magoiCV_data in du_an_data.magoiCV.items %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ magoiCV }}</td>
            <td>{{ magoiCV_data.votes.0 }}</td>
            <td>{{ magoiCV_data.acceptances.0 }}</td>
            <td>{{ magoiCV_data.rejections.0 }}</td>
            <td>{{ magoiCV_data.errors.0 }}</td>
            <td>{{ magoiCV_data.status.0 }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}