{% extends 'bases/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home/info.css' %}">
<div class'hm-body'>
    <div class="hm-container">
        <div class="hm-header">
            <strong>Cài đặt tài khoản</strong>
            <span class="date-range">Thời gian thực hiện: <input type="hm-text" value="20/04/24 - 03/05/24"
                    readonly></span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Tài khoản</th>
                    <th>Số tiền chưa nhận</th>
                    <th>Điểm đánh giá CTV</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="ctv">
        <strong>Bạn đang ở trạng thái CTV <span class="ctv-status">TỐT</span>. Chú ý: Nếu CTV sai nhập liệu và bị đánh
            giá sai sót >5% thì sẽ bị đóng tài khoản</strong>
    </div>
    <div class="middle-container">
        <div class="middle-sidebar">
            <strong>Thông tin cơ bản</strong>
            <img src="https://yt3.ggpht.com/a/AATXAJzsHPys1EoSnxprcPapwsQsb1gr97KzKfnRBw=s900-c-k-c0xffffffff-no-rj-mo"
                alt="Profile">
            <div class="verified">Tài khoản đã xác thực</div>
            <nav>
                <ul>
                    <li class="tab-link active" data-tab="tab-1">Thông tin cá nhân</li>
                    <li class="tab-link" data-tab="tab-2">Thông tin ngân hàng</li>
                </ul>
            </nav>
        </div>
        <div class="middle-content">
            <div id="tab-1" class="tab-content active">
                <form method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <label for="ma-ctv">Mã CTV:</label>
                        <input type="text" id="ma-ctv" name="ma-ctv" value={{ code_ctv }}>
                    </div>
                    <div class="info">
                        <label for="ten-ca-nhan">Tên cá nhân:</label>
                        <input type="text" id="ten-ca-nhan" name="full_name" value={{ full_name }}>
                    </div>
                    <div class="info">
                        <label for="ngay-sinh">Ngày sinh:</label>
                        <input type="date" id="ngay-sinh" name="birthday" value={{ birthday }}>
                    </div>
                    <div class="info">
                        <label for="so-dt">Số ĐT:</label>
                        <input type="tel" id="so-dt" name="phone_no" value={{ phone_no }}>
                    </div>
                    <div class="info">
                        <label for="dia-chi-hien-tai">Địa chỉ hiện tại:</label>
                        <input type="text" id="dia-chi-hien-tai" name="address" value={{ address }}>
                    </div>
                    <div class="info">
                        <label for="trinh-do">Trình độ:</label>
                        <input type="text" id="trinh-do" name="qualification" value={{ qualification }}>
                    </div>
                    <div class="info">
                        <label for="so-cccd">Số CCCD:</label>
                        <input type="text" id="so-cccd" name="identification" value={{ identification }}>
                    </div>
                    <div class="info">
                        <label for="dia-chi-cccd">Địa chỉ trên CCCD:</label>
                        <input type="text" id="dia-chi-cccd" name="identification_address" value={{ identification_address }}>
                    </div>
                    <div class="info">
                        <label for="ghi-chu-ctv" class="notelabel">Ghi chú CTV:</label>
                        <textarea id="ghi-chu-ctv" name="note" class="notes" value={{ note }}></textarea>
                    </div>
                    <div class="info">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div id="tab-2" class="tab-content">
                <!-- Add bank information fields here -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="info">
                        <label for="so-tai-khoan">Số tài khoản:</label>
                        <input type="text" id="so-tai-khoan" name="account_number" value={{ account_number }}>
                    </div>
                    <div class="info">
                        <label for="ngan-hang">Ngân hàng:</label>
                        <input type="text" id="ngan-hang" name="bank_name" value={{ bank_name }}>
                    </div>
                    <div class="info">
                        <label for="chi-nhanh">Chi nhánh:</label>
                        <input type="text" id="chi-nhanh" name="branch" value={{ branch }}>
                    </div>
                    <div class="info">
                        <label for="ten-chu-tai-khoan">Tên chủ tài khoản:</label>
                        <input type="text" id="ten-chu-tai-khoan" name="owner" value={{ owner }}>
                    </div>
                    <div class="info">
                        <label for="ma-ngan-hang">Mã ngân hàng:</label>
                        <input type="text" id="ma-ngan-hang" name="code_bank" value={{ code_bank }}>
                    </div>
                    <div class="info">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.tab-link').forEach(link => {
        link.addEventListener('click', function () {
            document.querySelectorAll('.tab-link').forEach(link => {
                link.classList.remove('active');
            });
            document.querySelectorAll('.tab-content').forEach(content => {
                content.classList.remove('active');
            });
            document.getElementById(this.dataset.tab).classList.add('active');
            this.classList.add('active');
        });
    });
</script>
{% endblock %}