{% extends 'bases/base.html' %}
{% block content %}
<style>
    .input-group {
        position: relative;
        margin: 20px 0;
    }

    .input-group label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #fff;
        padding: 0 5px;
        pointer-events: none;
        transition: .5s;
    }

    .input-group input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        color: #fff;
        padding: 0 10px;
        background: transparent;
        border: 1.2px solid #fff;
        outline: none;
        border-radius: 5px;
    }

    .input-group input:focus~label,
    .input-group input:valid~label {
        top: 0;
        font-size: 12px;
        background: #7d2ae8;
    }

    .input-container {
        display: flex;
        width: 100%;
        height: 88vh;
        background-color: #f8f9fa;
    }

    .left-side {
        width: 60%;
    }

    .right-side {
        max-width: 40%;
        min-width:40%;
        background-color: #ffffff;
        padding-top: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .form-container {
        overflow: auto;
        flex: 1;
        margin-bottom: 20px;
        padding-top: inherit;
    }

    .form {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .form-group textarea {
        height: 80px;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .5s;
        color:#a5a5a5;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        background: transparent;
        transition: .5s;
        resize: none;
    }

    .form-group.textarea-active label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
    }

    .form-group input:focus~label,
    .form-group input:valid~label,
    .form-group select:focus~label,
    .form-group select:valid~label,
    .form-group textarea:focus~label,
    .form-group textarea:valid~label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
        color:black;
    }

    .specialLabel {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 0%;
        left: 10px;
        transform: translateY(-50%);
        color: #555;
        transition: .5s;
    }

    .two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .full-width {
        grid-column: span 4;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .buttons button {
        width: 28%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .buttons .review {
        background-color: #4CAF50;
    }

    .buttons .save {
        background-color: #007BFF;
    }

    .buttons button:hover {
        opacity: 0.9;
    }

    .input-form-border {
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .tab-selection-item {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .item-tab {
        border-radius: 5px;
        color:black;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color:#f0f0f0;
    }

    .item-tab.active {
        background-color: #c5c5c5;
        color: #8383ff;
        box-shadow: 0px 3px 0px #a5a5a5 inset;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }
    .doc-info-tab{
        display: grid;
        min-width: 40%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }    
    .scrollable-image-container {
        max-height: 88%; /* Fill the height of the left-side container */
        overflow: auto; /* Enable scrolling */
        
    }
    .progress-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        
    }

    .progress-bar-container span {
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }

    .progress-container {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        padding:2px;
    }
    
    .progress-text {
        margin-right: auto;
    }
    .image-buttons {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-left:0px;
        background-color: #f8f9fa;
    }
    .progress-value {
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: linear-gradient(white, #f2f2f2);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        padding:inherit;
    }
    .image-buttons button {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 0.1px solid #ccc;
        box-shadow: 0px -2px 0px #a5a5a5 inset;
    }

    .image-buttons button:hover {
        opacity: 0.9;
    }
    </style>
    <div class="input-container">
        <div class="left-side">
            <div class="progress-bar-container">
                <span> < Danh sách</span>
                <div class="progress-container">
                    <span class="progress-text">Khối lượng file đã thực hiện:</span>
                    <div class="progress-value">35%</div>
                </div>
            </div>
            <div class="scrollable-image-container">
                <img src="https://sample-videos.com/img/Sample-png-image-3mb.png" alt="Document Image">
            </div>
            <div class="image-buttons">
                <button onclick="goBack()">< Quay lại</button>
                <button onclick="goNext()">Tiếp theo ></button>
            </div>
        </div>
        <div class="right-side">
            <div class="tab-selection-item two-columns">
                <div id="tab1" class="item-tab active"><i class='bx bx-edit-alt' ></i>Nhập Liệu</div>
                <div id="tab2" class="item-tab"><i class='bx bx-info-circle' ></i>Thông tin tài liệu</div>
            </div>
            <div id="tab1-content" class="tab-content active">
                <form>
                    <div class="input-form-border">
                        <div class="form-container">
                            <div class="form four-columns">
                                <div class="form-group">
                                    <input type="text" id="number" name="number" required>
                                    <label for="number">Số</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="volumeNumber" name="volumeNumber"required>
                                    <label for="volumeNumber">Quyển số</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="pagenumber" name="pagenumber" required>
                                    <label for="pagenumber">Trang số</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="registrationDate" name="registrationDate" required>
                                    <label for="registrationDate">Ngày đăng ký</label>
                                </div>
                            </div>
                            <div class="form two-columns">
                                <div class="form-group">
                                    <select id="registerType" name="registerType" required>
                                        <option value="1">1-Đăng ký đúng</option>
                                        <option value="2">2-Đăng ký bổ sung</option>
                                    </select>
                                    <label for="registerType">Loại đăng ký</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="location" name="location" required>
                                    <label for="location">Nơi đăng ký</label>
                                </div>
                            </div>
                            <div class="form two-columns">
                                <div class="form-group">
                                    <input type="text" id="signer" name="signer" required>
                                    <label for="signer">Người ký</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="signerPosition" name="signerPosition" required>
                                    <label for="signerPosition">Chức vụ người ký</label>
                                </div>
                            </div>
                            <div class="form full-width">
                                <div class="form-group">
                                    <input type="text" id="performer" name="performer" required>
                                    <label for="performer">Người thực hiện</label>
                                </div>
                            </div>
                            <div class="form full-width">
                                <div class="form-group textarea-active">
                                    <textarea id="note" name="note" required></textarea>
                                    <label for="note">Ghi chú</label>
                                </div>
                            </div>
                            <div class="form two-columns">
                                <div class="form-group">
                                    <input type="text" id="fullName" name="fullName" required>
                                    <label for="fullName">NKS: Họ và tên</label>
                                </div>
                                <div class="form-group">
                                    <select id="gender" name="gender" required>
                                        <option value="1">1-Nam</option>
                                        <option value="2">2-Nữ</option>
                                    </select>
                                    <label for="gender">NKS: Giới tính</label>
                                </div>
                            </div>
                            <div class="form two-columns">
                                <div class="form-group">
                                    <input type="text" id="birthDate" name="birthDate" required>
                                    <label for="birthDate">NKS: Ngày sinh</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="birthPlace" name="birthPlace" required>
                                    <label for="birthPlace">NKS: Nơi sinh</label>
                                </div>
                            </div>
                            <div class="form full-width">
                                <div class="form-group">
                                    <input type="text" id="hometown" name="hometown" required>
                                    <label for="hometown">NKS: Quê quán</label>
                                </div>
                            </div>
                            <div class="form three-columns">
                                <div class="form-group">
                                    <input type="text" id="ethnicity" name="ethnicity" required>
                                    <label for="ethnicity">NKS: Dân Tộc</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="nationality" name="nationality" required>
                                    <label for="nationality">NKS: Quốc Tịch</label>
                                </div>
                                <div class="form-group">
                                    <select id="birthCertificateType" name="birthCertificateType" required>
                                        <option value="1">1-Đã xác định</option>
                                        <option value="2">2-Chưa xác định</option>
                                    </select>
                                    <label for="birthCertificateType">NKS: Quốc Tịch</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class="review">Review</button>
                        <button type="submit" class="save">Lưu</button>
                    </div>
                </form>
            </div>
            <div id="tab2-content" class="tab-content">
                <div class="doc-info-tab">
			Test
		</div>
            </div>
        </div>
    </div>

    <script>
        // Get elements
        const tab1 = document.getElementById('tab1');
        const tab2 = document.getElementById('tab2');
        const tab1Content = document.getElementById('tab1-content');
        const tab2Content = document.getElementById('tab2-content');

        // Add click event listeners
        tab1.addEventListener('click', () => {
            // Set Tab 1 as active and show its content
            tab1.classList.add('active');
            tab2.classList.remove('active');
            tab1Content.classList.add('active');
            tab2Content.classList.remove('active');
        });

        tab2.addEventListener('click', () => {
            // Set Tab 2 as active and show its content
            tab2.classList.add('active');
            tab1.classList.remove('active');
            tab2Content.classList.add('active');
            tab1Content.classList.remove('active');
        });
    </script>

{% endblock %}