.dashboard-container {
  margin-top: 20px;
}
.stats-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  width: 100%;
  gap: 24px;
}

.stats-card-container .card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--primary-color);
  min-width: 15rem;
  position: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card h6 {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  text-wrap: pretty;
  margin: 0;
}

.card-body button {
  font-size: small;
  margin: 0;
  border: 1px solid var(--text-color);
  align-self: center;
  width: 70%;
}

.card-body button:hover {
  background-color: royalblue;
  color: white;
}

.card h6 > i {
  font-size: 45px;
  color: royalblue;
}
.stats-value {
  font-size: 40px;
  font-weight: bolder;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  column-gap: 12px;
  height: 50px;
}

.card-info .performance-value {
  font-size: small;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 2px 2px;
}

.performance-value.positive {
  background-color: lightgreen;
}

.performance-value.negative {
  background-color: lightsalmon;
}

#total-salary > .card-body > .card-info > .stats-value {
  font-size: 20px !important;
}

.charts-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  width: 100%;
  gap: 24px;
}

.charts-card-container .card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  min-width: 31.5rem;
}

.charts-card-container .card h6 {
  font-weight: 700 !important;
}

.big-card {
  grid-column: span 2;
}

.notis-container {
  margin-top: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab-button {
  background-color: white;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px;
  cursor: pointer;
  transition: var(--tran-05);
}

.tab-button.active {
  border-bottom: 2px solid #3498db;
}

.notification-item {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 0;
}

.notification-item p {
  margin: 0;
}

.notification-item .date {
  color: gray;
  font-size: 0.8em;
}
