{% extends 'bases/base.html' %}
{% block content %}

<style>
    .modal-header {
        background-color: #007bff;
        color: white;
        border-bottom: none;
    }

    .modal-header .close {
        color: white;
    }

    .modal-title {
        font-size: 1.5em;
    }

    .modal-body {
        padding: 20px;
    }

    .modal-content {
        border-radius: 10px;
        overflow: hidden;
    }

    .modal-footer {
        border-top: none;
        padding: 10px 20px;
        text-align: right;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .filter-section {
        margin-bottom: 20px;
    }

    .filter-section label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .filter-section .btn-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .filter-section .btn-group .btn {
        flex: 1;
        margin: 0 5px;
    }

    .filter-section .date-picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-section .date-picker input {
        flex: 1;
        margin-right: 10px;
    }

    .filter-section .date-picker label {
        margin-right: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .table th {
        background-color: #cecece;
        color: black;
        font-weight: 500;
    }

    .table th,
    .table td {
        border: 1px solid #c7c7c7;
        padding: 8px;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: small;
        vertical-align: middle;
    }

    .table .toggle {
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
        line-height: 1.25;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tr:hover {
        background-color: #ddd;
    }

    .badge {
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        width: 100px;
        text-align: center;
    }

    .bg-primary {
        background-color: #007bff;
        color: white;
    }

    .bg-warning {
        background-color: #ffc107;
        color: black;
    }

    .bg-danger {
        background-color: #dc3545;
        color: white;
    }

    .bg-success {
        background-color: #28a745;
        color: white;
    }

    .bg-default {
        background-color: #6c757d;
        color: white;
    }

    .table th:nth-child(1),
    .table td:nth-child(1) {
        width: 5%;
    }

    .table th:nth-child(2),
    .table td:nth-child(2) {
        width: 20%;
    }

    .table th:nth-child(3),
    .table td:nth-child(3) {
        width: 10%;
    }

    .table th:nth-child(4),
    .table td:nth-child(4) {
        width: 10%;
    }

    .table th:nth-child(5),
    .table td:nth-child(5) {
        width: 15%;
    }

    .table th:nth-child(6),
    .table td:nth-child(6) {
        width: 10%;
    }

    .table th:nth-child(7),
    .table td:nth-child(7) {
        width: 10%;
    }

    .table th:nth-child(8),
    .table td:nth-child(8) {
        width: 10%;
    }

    .table th:nth-child(9),
    .table td:nth-child(9) {
        width: 5%;
    }

    .table th:nth-child(10),
    .table td:nth-child(10) {
        width: 5%;
    }

    .toggle-icon {
        margin-right: 10px;
        font-size: 1.5em;
        vertical-align: middle;
    }
    .head_selection_button{
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="head_selection_button">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
        <i class='bx bx-filter-alt'></i> Lọc
    </button>
    <button type="button" class="btn btn-primary">Check</button>
</div>
<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Lọc dữ liệu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Filter form content -->
                <form method="get">
                    <div class="filter-section">
                        <label>Trạng thái</label>
                        <div class="btn-group" role="group" aria-label="Trạng thái">
                            <button type="button" class="btn btn-outline-primary">Hoàn thành</button>
                            <button type="button" class="btn btn-outline-warning">Chưa nhập</button>
                            <button type="button" class="btn btn-outline-danger">Báo lỗi</button>
                        </div>
                    </div>
                    <div class="filter-section">
                        <label>Loại tài liệu</label>
                        <div class="btn-group" role="group" aria-label="Loại tài liệu">
                            <button type="button" class="btn btn-outline-secondary">CMC</button>
                            <button type="button" class="btn btn-outline-secondary">HN</button>
                            <button type="button" class="btn btn-outline-secondary">KT</button>
                            <button type="button" class="btn btn-outline-secondary">KS</button>
                            <button type="button" class="btn btn-outline-secondary">KH</button>
                        </div>
                    </div>
                    <div class="filter-section">
                        <label>Khu vực</label>
                        <div class="btn-group" role="group" aria-label="Khu vực">
                            <button type="button" class="btn btn-outline-secondary">Tp Hồ Chí Minh</button>
                            <button type="button" class="btn btn-outline-secondary">Tiền Giang</button>
                            <button type="button" class="btn btn-outline-secondary">Bến Tre</button>
                        </div>
                    </div>
                    <div class="filter-section date-picker">
                        <label for="received_date">Thời gian nhận</label>
                        <input type="date" class="form-control" id="received_date" name="received_date">
                    </div>
                    <div class="filter-section date-picker">
                        <label for="deadline">Deadline</label>
                        <input type="date" class="form-control" id="deadline" name="deadline">
                    </div>
                    <button type="submit" class="btn btn-primary">Lọc</button>
                </form>
            </div>
        </div>
    </div>
</div>


<table class="table table-hover table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Tên dữ liệu</th>
            <th>Số phiếu</th>
            <th>Số trường</th>
            <th>Thực hiện</th>
            <th>Trạng thái</th>
            <th>Ngày nhận</th>
            <th>Deadline</th>
            <th>Số lỗi</th>
            <th>Loại file</th>
        </tr>
    </thead>
    <tbody>
        {% for package in packages %}
        <tr class="parent toggle" data-id="{{ forloop.counter }}">
            <td>{{ forloop.counter }}</td>
            <td colspan="1">
                <i class='bx bx-chevron-right toggle-icon'></i>{{ package.package }}
            </td>
            <td>{{ package.total_tickets }}</td>
            <td></td>
            <td>{{ package.executor }}</td>
            <td>
                <span class="badge 
                    {% if package.status == 'Đã nhập' %} bg-primary 
                    {% elif package.status == 'Chưa check' %} bg-warning 
                    {% elif package.status == 'Báo lỗi' %} bg-danger 
                    {% elif package.status == 'Hoàn thành' %} bg-success 
                    {% else %} bg-default 
                    {% endif %}">
                    {{ package.status }}
                </span>
            </td>
            <td>{{ package.start_day }}</td>
            <td>{{ package.finish_day }}</td>
            <td></td>
            <td></td>
        </tr>
        {% for record in package.datarecord_set %}
        <tr class="child" data-parent="{{ forloop.parentloop.counter }}" style="display: none;">
            <td></td>
            <td>{{ record.document_name }}</td>
            <td></td>
            <td>{{ record.fields }}</td>
            <td>{{ record.executor }}</td>
            <td>
                <span class="badge 
                    {% if record.status == 'Đã nhập' %} bg-primary 
                    {% elif record.status == 'Chưa check' %} bg-warning 
                    {% elif record.status == 'Báo lỗi' %} bg-danger 
                    {% elif record.status == 'Hoàn thành' %} bg-success 
                    {% else %} bg-default 
                    {% endif %}">
                    {{ record.status }}
                </span>
            </td>
            <td></td>
            <td></td>
            <td>{{ record.errors }}</td>
            <td>{{ record.type }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toggles = document.querySelectorAll('.toggle');
        toggles.forEach(function (toggle) {
            toggle.addEventListener('click', function () {
                var parentId = this.getAttribute('data-id');
                var children = document.querySelectorAll('.child[data-parent="' + parentId + '"]');
                var icon = this.querySelector('.toggle-icon');
                children.forEach(function (child) {
                    if (child.style.display === 'none') {
                        child.style.display = 'table-row';
                        icon.className = 'bx bx-chevron-down toggle-icon';
                    } else {
                        child.style.display = 'none';
                        icon.className = 'bx bx-chevron-right toggle-icon';
                    }
                });
                this.classList.toggle('expanded');
            });
        });
    });
</script>
{% endblock %}