{% extends 'bases/base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static "css/home/courses.css" %}">
<div class="courses-container">
  <h4><strong>Học viện DGS</strong></h4>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="courses-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        data-mdb-tab-init
        class="nav-link active"
        id="civil-tab"
        href="#civil"
        role="tab"
        aria-controls="civil"
        aria-selected="true"
        >Hộ tịch</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        data-mdb-tab-init
        class="nav-link"
        id="admin-documents-tab"
        href="#admin-documents"
        role="tab"
        aria-controls="admin-documents"
        aria-selected="false"
        >Văn bản hành chánh</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        data-mdb-tab-init
        class="nav-link"
        id="other-documents-tab"
        href="#other-documents"
        role="tab"
        aria-controls="other-documents"
        aria-selected="false"
        >Giấy tờ khác</a
      >
    </li>
  </ul>

  <div
    class="modal fade"
    id="videoModal"
    aria-hidden="true"
    aria-labelledby="videoLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="videoLabel"></h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <iframe frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div
      class="tab-pane active"
      id="civil"
      role="tabpanel"
      aria-labelledby="civil-tab"
    >
      <div class="tab-pane-content">
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="qIn8u7ycBr8"
              data-bs-title="Check OFFLINE"
            >
            Check OFFLINE
            </button>
            <p class="card-text">
              Hướng dẫn xử lý lỗi dữ liệu
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="Pu9b3F97Kyw"
              data-bs-title="Nhập ONLINE"
            >
            Nhập ONLINE
            </button>
            <p class="card-text">
              Hướng dẫn xử lý lỗi dữ liệu
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="WU86ip407yk"
              data-bs-title="Buổi 1: Chính sách tổng quát"
            >
            Buổi 1: Chính sách tổng quát
            </button>
            <p class="card-text">
              Chính sách tổng quát về nhập liệu
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="xEeVNOQ1BaM"
              data-bs-title="Buổi 2: Check Hôn Nhân"
            >
            Buổi 2: Check Hôn Nhân
            </button>
            <p class="card-text">
              Hướng dẫn check hôn nhân
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="P9yBEBYN90E"
              data-bs-title="Buổi 3: Form khai sinh"
            >
            Buổi 3: Form khai sinh
            </button>
            <p class="card-text">
              Hướng dẫn nhập liệu form khai sinh
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="aPqAFv5gYTM"
              data-bs-title="Buổi 4: Form Kết Hôn"
            >
            Buổi 4: Form Kết Hôn
            </button>
            <p class="card-text">
              Hướng dẫn nhập liệu form kết hôn
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="k6q95uWxtTs"
              data-bs-title="Buổi 5: Form Khai Tử"
            >
            Buổi 5: Form Khai Tử
            </button>
            <p class="card-text">
              Hướng dẫn nhập liệu form khai tử
          </div>
        </div>
        <div class="card">
          <img src="{% static "images/logo.png" %}" class="card-img-top"
          alt="...">
          <div class="card-body">
            <button
              class="card-title"
              data-bs-toggle="modal"
              data-bs-target="#videoModal"
              data-bs-video="MMoPa6fR7zo"
              data-bs-title="Buổi 6: Form Cha Mẹ Con"
            >
            Buổi 6: Form Cha Mẹ Con
            </button>
            <p class="card-text">
              Hướng dẫn nhập liệu form cha mẹ con
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane"
      id="admin-documents"
      role="tabpanel"
      aria-labelledby="admin-documents-tab"
    >
    <div class="tab-pane-content">
      <div class="card">
        <img src="{% static "images/logo.png" %}" class="card-img-top"
        alt="...">
        <div class="card-body">
          <button
            class="card-title"
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-bs-video="wxTO04ercDM"
            data-bs-title="Video đào tạo Check VBHC"
          >
          Video đào tạo Check VBHC
          </button>
          <p class="card-text">
            Hướng dẫn check VBHC
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "images/logo.png" %}" class="card-img-top"
        alt="...">
        <div class="card-body">
          <button
            class="card-title"
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-bs-video="5gjUl8IISNM"
            data-bs-title="fix excel VBHC 3010"
          >
          fix excel VBHC 3010
          </button>
          <p class="card-text">
            Hướng dẫn xử lý lỗi excel VBHC 3010
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "images/logo.png" %}" class="card-img-top"
        alt="...">
        <div class="card-body">
          <button
            class="card-title"
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-bs-video="QFSdZHhuXM0"
            data-bs-title="Hướng đẫn check đúng và đủ VBHC"
          >
          Hướng đẫn check đúng và đủ VBHC
          </button>
          <p class="card-text">
            Hướng đẫn check VBHC
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "images/logo.png" %}" class="card-img-top"
        alt="...">
        <div class="card-body">
          <button
            class="card-title"
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-bs-video="cS4oSXkiUq0"
            data-bs-title="Fix tool VBHC Phu Yen - L2"
          >
          Fix tool VBHC Phu Yen - L2
          </button>
          <p class="card-text">
            Hướng dẫn check hôn nhân
          </p>
        </div>
      </div>
    </div>
    </div>
    <div
      class="tab-pane"
      id="other-documents"
      role="tabpanel"
      aria-labelledby="other-documents-tab"
    >
      Hello 3
    </div>
  </div>
</div>
<script>
  const videoModal = document.getElementById("videoModal");
  if (videoModal) {
    videoModal.addEventListener("show.bs.modal", (event) => {
      // Button that triggered the modal
      const button = event.relatedTarget;
      // Extract info from data-bs-* attributes
      const videoId = button.getAttribute("data-bs-video");
      const videoTitle = button.getAttribute("data-bs-title");

      // Update the modal's content.
      const modalTitle = videoModal.querySelector(".modal-title");
      const modalIframe = videoModal.querySelector("iframe");

      // Update the iframe source
      modalIframe.src = `https://www.youtube.com/embed/${videoId}`;

      // Update the modal title
      modalTitle.textContent = videoTitle;
    });

    videoModal.addEventListener("hidden.bs.modal", () => {
      // Clear the iframe source when the modal is hidden
      const modalIframe = videoModal.querySelector("iframe");
      modalIframe.src = "";
    });
  }
</script>

{% endblock %}
