<div class="vertical-tab-selection-item vertical-two-columns">
    <div id="tab1" class="vertical-item-tab active"><i class='bx bx-edit-alt'></i>Nhập Liệu</div>
    <button class="vertical-item-tab" id="Tlayoutbutton" onclick="toggleLayout()">Toggle Layout</button>
</div>

<div id="tab1-content" class="vertical-tab-content active">
    <form method="POST">
        {% csrf_token %}
        <div class="vertical-input-form-border">
            <div class="vertical-form-container">
                <!-- First Section -->
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-maDinhDanh" name="maDinhDanh" value="" required>
                        <label for="vertical-maDinhDanh">Mã định danh Cơ quan lưu trữ lịch sử</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-maPhong" name="maPhong" value="" required>
                        <label for="vertical-maPhong">Mã phông</label>
                    </div>
                </div>
                <div class="vertical-form vertical-three-columns">
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-mucLucSo" name="mucLucSo" value="" required>
                        <label for="vertical-mucLucSo">Mục lục số</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-hopSo" name="hopSo" value="" required>
                        <label for="vertical-hopSo">Hộp số</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-hoSoSo" name="hoSoSo" value="" required>
                        <label for="vertical-hoSoSo">Hồ sơ số</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-ten" name="ten" value="" required>
                        <label for="vertical-ten">Tên</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-soLuongTo" name="soLuongTo" value="" required>
                        <label for="vertical-soLuongTo">Số lượng tờ</label>
                    </div>
                </div>
                <div class="vertical-form vertical-full-width">
                    <div class="vertical-form-group textarea-active">
                        <textarea id="vertical-tieuDeHoSo" name="tieuDeHoSo" required></textarea>
                        <label for="vertical-tieuDeHoSo">Tiêu đề hồ sơ</label>
                    </div>
                </div>
                <div class="vertical-form vertical-three-columns">
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-namHinhThanh" name="namHinhThanh" value="" required>
                        <label for="vertical-namHinhThanh">Năm hình thành hồ sơ</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-thoiGianBatDau" name="thoiGianBatDau" value="" required>
                        <label for="vertical-thoiGianBatDau">Thời gian bắt đầu</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-thoiGianKetThuc" name="thoiGianKetThuc" value="" required>
                        <label for="vertical-thoiGianKetThuc">Thời gian kết thúc</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-thoiHanBaoQuan" name="thoiHanBaoQuan" required>
                            <option value="vinhVien">Vĩnh Viễn</option>
                            <option value="tamThoi">Tạm Thời</option>
                        </select>
                        <label for="vertical-thoiHanBaoQuan">Thời hạn bảo quản</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-buttons">
            <button type="button" class="Review">Review</button>
            <button type="submit" class="save">Lưu</button>
        </div>
    </form>
</div>

<style>
    .vertical-form-container {
        overflow: auto;
        flex: 1;
        margin-bottom: 20px;
        padding-top: inherit;
        max-height: 66vh;
    }

    .vertical-form {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }

    .vertical-form-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .vertical-form-group textarea {
        height: 80px;
    }

    .vertical-form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .5s;
        color: #a5a5a5;
    }

    .vertical-form-group input,
    .vertical-form-group select,
    .vertical-form-group textarea {
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        background: transparent;
        transition: .5s;
        resize: none;
    }

    .vertical-form-group.textarea-active label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
    }

    .vertical-form-group input:focus~label,
    .vertical-form-group input:valid~label,
    .vertical-form-group select:focus~label,
    .vertical-form-group select:valid~label,
    .vertical-form-group textarea:focus~label,
    .vertical-form-group textarea:valid~label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
        color: black;
    }

    .vertical-specialLabel {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 0%;
        left: 10px;
        transform: translateY(-50%);
        color: #555;
        transition: .5s;
    }

    .vertical-two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .vertical-three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .vertical-four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .vertical-full-width {
        grid-column: span 4;
    }

    .vertical-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .vertical-buttons button {
        width: 28%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .vertical-buttons .Review {
        background-color: #FF3B30;
    }

    .vertical-buttons .save {
        background-color: #007BFF;
    }

    .vertical-buttons button:hover {
        opacity: 0.9;
    }

    .vertical-input-form-border {
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .vertical-tab-selection-item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .vertical-item-tab {
        border-radius: 5px;
        color: black;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .vertical-item-tab.active {
        background-color: #c5c5c5;
        color: #8383ff;
        box-shadow: 0px 3px 0px #a5a5a5 inset;
    }

    .vertical-tab-content {
        display: none;
    }

    .vertical-tab-content.active {
        display: block;
    }
</style>