{% extends 'bases/base.html' %}
{% block content %}
{% load static %}
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield; /* For Firefox */
    }
    .input-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f8f9fa;
        min-height: 84vh;
    }

    .right-side {
        max-width: 40%;
        min-width: 40%;
        background-color: #ffffff;
        padding-top: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        height: 83vh;
    }

    .progress-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
    }

    .progress-bar-container span {
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }



    .image-buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        background-color: #f8f9fa;
    }



    .image-buttons button {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 0.1px solid #ccc;
        box-shadow: 0px -2px 0px #a5a5a5 inset;
    }

    .image-buttons button:hover {
        opacity: 0.9;
    }

    .toolbar {
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
    }

    .toolbar button {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 0.1px solid #ccc;
        box-shadow: 0px -2px 0px #a5a5a5 inset;
        margin: 0 5px;
    }

    .toolbar button:hover {
        opacity: 0.9;
    }


    .under-side {
        max-width: 100%;
        min-width: 50%;
        background-color: #ffffff;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        align-items: flex-start;
        overflow: auto;
        max-height: 50vh;
    }

    .under-side .form-group {
        flex: 1 1 48%;
        margin: 10px 1%;
    }

    .under-side .full-width {
        flex: 1 1 100%;
    }

    .under-side .buttons {
        flex: 1 1 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .under-side .buttons button {
        width: 100px;
        padding: 10px 20px;
    }
    .progress-container {
        display: flex;
        gap: 20px;
        align-items: center;
        color: black;
    }
    .progress-text {
        font-size: 13px;
        font-weight: bold;
        color: black;
    }
    .progress-box {
        background-color: #f2f2f2;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: bold;
        color: black;
    }


#horizontal-form.under-side {
    width: 100%;
    margin-top: 5rem;
}
    .left-side {
    width: 60%;
    height: 74vh;
}

.scrollable-image-container {
    max-height: 100%; 
    height: 100%;
}

#MyPDF {
    width: 100%;
    height: 100%; /* Make sure the iframe uses full height */
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    flex: 1;
    color: black;
}

.info-input {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.info-input:disabled {
    background-color: #e9ecef;
}
.info-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
</style>

<div class="input-container">
    <div class="left-side">
        <div class="progress-bar-container">
            <span> <a href="/statistic" style="color:black; text-decoration:none">
                    < Danh sách</a></span>
        </div>

        <div class="scrollable-image-container">
            <iframe id= "MyPDF" src="{{ form.pdf_path }}" frameborder="0"></iframe>
        </div>  
        <div class="image-buttons">
            <button onclick="goBack()">
                < Quay lại</button>
            <button onclick="goNext()">Tiếp theo ></button>
        </div>
    </div>

    <div id="vertical-form" class="right-side">
        {% include 'pages/cover_verticalform.html' %}
    </div>

    <div id="horizontal-form" class="under-side" style="display: none;">
        {% include 'pages/cover_horizontalform.html' %}
    </div>

</div>
<div class="progress-container">
    <div class="progress-text">Số lượng nhập</div>
    <div class="progress-box">{{form.entered_tickets}}/{{form.total_real_tickets}}</div>
    <div class="progress-text">Số trường</div>
    <div class="progress-box">{{form.total_fields}}</div>
</div>

<script>

    let isVerticalLayout = true;


    function toggleLayout() {
        const container = document.querySelector('.input-container');
        const verticalForm = document.getElementById('vertical-form');
        const horizontalForm = document.getElementById('horizontal-form');
        const leftSide = document.querySelector('.left-side');
        const activeTab = document.querySelector('.tab.active');

        if (isVerticalLayout) {
            container.style.flexDirection = 'column';
            verticalForm.style.display = 'none';
            horizontalForm.style.display = 'flex';

            leftSide.style.maxWidth = '100%';
            leftSide.style.minWidth = '100%';
            leftSide.style.maxHeight = '100%'; 
            leftSide.style.minHeight = '100%';

            container.style.height = 'fit-content'; 

            if (activeTab) {
                const correspondingTab = horizontalForm.querySelector(`#${activeTab.id}`);
                if (correspondingTab) {
                    correspondingTab.classList.add('active');
                }
            }
        } else {
            container.style.flexDirection = 'row';
            verticalForm.style.display = 'flex';
            horizontalForm.style.display = 'none';

            leftSide.style.maxWidth = '60%';
            leftSide.style.minWidth = '60%';
            leftSide.style.maxHeight = '100%';
            leftSide.style.minHeight = '100%';

            container.style.height = '100%'; 


            if (activeTab) {
                const correspondingTab = verticalForm.querySelector(`#${activeTab.id}`);
                if (correspondingTab) {
                    correspondingTab.classList.add('active');
                }
            }
        }

        isVerticalLayout = !isVerticalLayout;
        setupTabs(isVerticalLayout ? 'vertical' : 'horizontal');
    }

    document.addEventListener('DOMContentLoaded', () => {
        setupTabs('vertical');

        document.getElementById('layout-toggle').addEventListener('click', () => {
            toggleLayout();
        });
    });

    const documentsCount = "{{form.total_real_tickets}}";

    function goBack() {
        const currentUrl = window.location.href;
        const newUrl = changeIndex(currentUrl, -1);
        if (newUrl) {
            window.location.href = newUrl;
        }
    }

    function goNext() {
        const currentUrl = window.location.href;
        const newUrl = changeIndex(currentUrl, 1);
        if (newUrl) {
            window.location.href = newUrl;
        }
    }

    function changeIndex(url, step) {
        const urlParts = url.split('/');
        const currentIndex = parseInt(urlParts[urlParts.length - 1], 10);

        if (isNaN(currentIndex)) {
            console.error("Invalid URL format: index is not a number.");
            return null;
        }

        const newIndex = currentIndex + step;

        if (newIndex < 0 || newIndex >= documentsCount) {
            console.log("Index out of bounds.");
            return null;
        }

        urlParts[urlParts.length - 1] = newIndex;
        return urlParts.join('/');
    }

</script>

{% endblock %}