<div class="horizontal-tab-selection-item horizontal-two-columns">
    <div id="tab3" class="horizontal-item-tab active"><i class='bx bx-edit-alt'></i>Nhập Liệu</div>
    <div id="tab4" class="horizontal-item-tab"><i class='bx bx-info-circle'></i>Thông tin tài liệu</div>
    <button class="horizontal-item-tab" id="Tlayoutbutton" onclick="toggleLayout()">Toggle Layout</button>
</div>

<div id="tab3-content" class="horizontal-tab-content active">
    <form method="POST">
        {% csrf_token %}
        <div class="horizontal-input-form-border">
            <div class="horizontal-form-container">
                <!-- First Section -->
                <div class="horizontal-form horizontal-three-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-so" name="so" value="{{form.so}}" required>
                        <label for="horizontal-so">Số</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-quyenSo" name="quyenSo" value="{{form.quyenSo}}" required>
                        <label for="horizontal-quyenSo">Quyển Sổ</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-trangSo" name="trangSo" value="{{form.trangSo}}" required>
                        <label for="horizontal-trangSo">Trang Số</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-ngayDangKy" name="ngayDangKy" value="{{form.ngayDangKy}}" required>
                        <label for="horizontal-ngayDangKy">Ngày Đăng Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-loaiDangKy" name="loaiDangKy" required>
                            {% for value, display in form.LoaiDangKy %}
                                <option value="{{ value }}" {% if value == form.loaiDangKy %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-loaiDangKy">Loại Đăng Ký</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-noiDangKy" name="noiDangKy" value="{{form.noiDangKy}}" required>
                        <label for="horizontal-noiDangKy">Nơi Đăng Ký</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-three-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nguoiKy" name="nguoiKy" value="{{form.nguoiKy}}" required>
                        <label for="horizontal-nguoiKy">Người Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-chucVuNguoiKy" name="chucVuNguoiKy" value="{{form.chucVuNguoiKy}}" required>
                        <label for="horizontal-chucVuNguoiKy">Chức Vụ Người Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nguoiThucHien" name="nguoiThucHien" value="{{form.nguoiThucHien}}" required>
                        <label for="horizontal-nguoiThucHien">Người Thực Hiện</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group textarea-active">
                        <textarea id="horizontal-ghiChu" name="ghiChu" required>{{form.ghiChu}}</textarea>
                        <label for="horizontal-ghiChu">Ghi Chú</label>
                    </div>
                </div>
                <!-- Second Section -->
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nktHoTen" name="nktHoTen" value="{{form.nktHoTen}}" required>
                        <label for="horizontal-nksHoTen">NKT: Họ và tên</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-nktGioiTinh" name="nktGioiTinh" required>
                            {% for value, display in form.GioiTinh %}
                                <option value="{{ value }}" {% if value == form.nktGioiTinh %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nksGioiTinh">NKT: Giới Tính</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nktNgaySinh" name="nksNgaySinh" value="{{form.nktNgaySinh}}" required>
                        <label for="horizontal-nksNgaySinh">NKT: Ngày Sinh</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-nktDanToc" name="nktDanToc" required>
                            {% for value, display in form.DanToc %}
                                <option value="{{ value }}" {% if value == form.nktDanToc %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nktDanToc">NKT: Dân Tộc</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-nktQuocTich" name="nktQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.nktQuocTich %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nksQuocTich">NKT: Quốc Tịch</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-nktLoaiCuTru" name="nktLoaiCuTru" required>
                            {% for value, display in form.LoaiCuTru %}
                                <option value="{{ value }}" {% if value == form.nktLoaiCuTru %}selected{% endif %}>
                                    {{ display}}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-meLoaiCuTru">NKT: Loại cư trú</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nktNoiCuTru" name="nktNoiCuTru" value="{{form.nktNoiCuTru}}"
                            required>
                        <label for="horizontal-meNoiCuTru">NKT: Nơi cư trú</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-meLoaiGiayToTuyThan" name="nktLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                                <option value="{{ value }}" {% if value == form.nktLoaiGiayToTuyThan %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-meLoaiGiayToTuyThan">NKT: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nktGiaytokhac" name="nktGiaytokhac" value="{{form.nktGiaytokhac}}" required>
                        <label for="horizontal-nktGiaytokhac">NKT: Giấy tờ khác</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="string" id="horizontal-nktSoGiayToTuyThan" name="nktSoGiayToTuyThan" value="{{form.nktSoGiayToTuyThan}}" required>
                        <label for="horizontal-nktSoGiayToTuyThan">NKT: Số giấy tờ tùy thân</label>
                    </div>

                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nktNgayCapGiayToTuyThan" name="nktNgayCapGiayToTuyThan" value="{{form.nktNgayCapGiayToTuyThan}}" required>
                        <label for="horizontal-nktNgayCapGiayToTuyThan">NKT: Ngày cấp giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nktNoiCapGiayToTuyThan" name="nktNoiCapGiayToTuyThan" value="{{form.nktNoiCapGiayToTuyThan}}" required>
                        <label for="horizontal-nktNoiCapGiayToTuyThan">NKT: Nơi cấp giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nktNgayChet" name="nktNgayChet" value="{{form.nktNgayChet}}" required>
                        <label for="horizontal-nktNgayChet">NKT: Ngày Chết</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="string" id="horizontal-nktNgayChetGhiBangChu" name="nktNgayChetGhiBangChu" value="{{form.nktNgayChetGhiBangChu}}" required>
                        <label for="horizontal-nktNgayChetGhiBangChu">NKT: Ngày chết ghi bằng chữ</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nktGioPhutChet" name="nktGioPhutChet" value="{{form.nktGioPhutChet}}" required>
                        <label for="horizontal-nktGioPhutChet">NKT: Giờ phút chết</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nktNoiChet" name="nktNoiChet" value="{{form.nktNoiChet}}" required>
                        <label for="horizontal-nktNoiChet">NKT: Nơi chết</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-gbtLoai" name="gbtLoai" required>
                            {% for value, display in form.LoaiGiayBaoTu %}
                            <option value="{{ value }}" {% if value == form.gbtLoai %}selected{% endif %}>
                                {{ display }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-gbtLoai">Loại giấy báo tử</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-gbtSo" name="gbtSo" value="{{form.gbtSo}}" required>
                        <label for="horizontal-gbtSo">GBT: Số</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="string" id="horizontal-nycHoTen" name="nycHoTen" value="{{form.nycHoTen}}" required>
                        <label for="horizontal-nycHoTen">NYC: Họ tên</label>
                    </div>

                    <div class="horizontal-form-group">
                        <input type="string" id="horizontal-nycQuanHe" name="nycQuanHe" value="{{form.nycQuanHe}}"
                            required>
                        <label for="horizontal-nycQuanHe">NYC: Quan hệ</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-nycLoaiGiayToTuyThan" name="nycLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                            <option value="{{ value }}" {% if value == form.nycLoaiGiayToTuyThan %}selected{% endif %}>
                                {{ display }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nycLoaiGiayToTuyThan">NYC: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycGiayToKhac" name="nycGiayToKhac" value="{{form.nycGiayToKhac}}" required>
                        <label for="horizontal-nycGiayToKhac">NYC: Giấy tờ khác</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nycSoGiayToTuyThan" name="nycSoGiayToTuyThan" value="{{form.nycSoGiayToTuyThan}}" required>
                        <label for="horizontal-nycSoGiayToTuyThan">NYC: Số giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycNgayCapGiayToTuyThan" name="nycNgayCapGiayToTuyThan" value="{{form.nycNgayCapGiayToTuyThan}}" required>
                        <label for="horizontal-nycNgayCapGiayToTuyThan">NYC: Ngày cấp giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycNoiCapGiayToTuyThan" name="nycNoiCapGiayToTuyThan" value="{{form.nycNoiCapGiayToTuyThan}}" required>
                        <label for="horizontal-nycNoiCapGiayToTuyThan">NYC: Nơi cấp giấy tờ tùy thân</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-buttons">
            <button type="button" class="review">Review</button>
            <button type="submit" class="save">Lưu</button>
        </div>
    </form>
</div>

<div id="tab4-content" class="horizontal-tab-content">
    <div class="horizontal-doc-info-tab">
        <div class="info-container">
            <div class="form-group">
                <label class="info-label">Tên file</label>
                <input class="info-input" type="text" value="KT.2017.01.2018-03-26:19.pdf" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Số trang</label>
                <input class="info-input" type="text" value="1" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Dung lượng</label>
                <input class="info-input" type="text" value="714.34 Kb" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Kích cỡ</label>
                <input class="info-input" type="text" value="." disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Xã</label>
                <input class="info-input" type="text" value="xaphuocnam" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Loại số</label>
                <input class="info-input" type="text" value="kt" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Năm hình thành</label>
                <input class="info-input" type="text" value="2017" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Quyển số</label>
                <input class="info-input" type="text" value="01" disabled>
            </div>
        </div>
    </div>
</div>


<style>
    /* CSS for Horizontal Form */
    .horizontal-form-container {
        overflow: auto;
        flex: 1;
        margin-bottom: 20px;
        padding-top: inherit;
        max-height: 65vh;
    }

    .horizontal-form {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }

    .horizontal-form-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .horizontal-form-group textarea {
        height: 80px;
    }

    .horizontal-form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .5s;
        color: #a5a5a5;
    }

    .horizontal-form-group input,
    .horizontal-form-group select,
    .horizontal-form-group textarea {
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        background: transparent;
        transition: .5s;
        resize: none;
    }

    .horizontal-form-group.textarea-active label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
    }

    .horizontal-form-group input:focus~label,
    .horizontal-form-group input:valid~label,
    .horizontal-form-group select:focus~label,
    .horizontal-form-group select:valid~label,
    .horizontal-form-group textarea:focus~label,
    .horizontal-form-group textarea:valid~label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
        color: black;
    }

    .horizontal-specialLabel {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 0%;
        left: 10px;
        transform: translateY(-50%);
        color: #555;
        transition: .5s;
    }

    .horizontal-two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .horizontal-three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .horizontal-four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .horizontal-full-width {
        grid-column: span 4;
    }

    .horizontal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .horizontal-buttons button {
        width: 28%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .horizontal-buttons .review {
        background-color: #4CAF50;
    }

    .horizontal-buttons .save {
        background-color: #007BFF;
    }

    .horizontal-buttons button:hover {
        opacity: 0.9;
    }

    .horizontal-input-form-border {
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .horizontal-tab-selection-item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .horizontal-item-tab {
        border-radius: 5px;
        color: black;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .horizontal-item-tab.active {
        background-color: #c5c5c5;
        color: #8383ff;
        box-shadow: 0px 3px 0px #a5a5a5 inset;
    }

    .horizontal-tab-content {
        display: none;
    }

    .horizontal-tab-content.active {
        display: block;
    }

    .horizontal-doc-info-tab {
        display: grid;
        min-width: 40%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }
</style>