<div class="horizontal-tab-selection-item horizontal-two-columns">
    <div id="tab3" class="horizontal-item-tab active"><i class='bx bx-edit-alt'></i>Nhập Liệu</div>
    <div id="tab4" class="horizontal-item-tab"><i class='bx bx-info-circle'></i>Thông tin tài liệu</div>
    <button class="horizontal-item-tab" id="Tlayoutbutton" onclick="toggleLayout()">Toggle Layout</button>
</div>

<div id="tab3-content" class="horizontal-tab-content active">
    <form method="POST">
        {% csrf_token %}
        <div class="horizontal-input-form-border">
            <div class="horizontal-form-container">
                <!-- First Section -->
                <div class="horizontal-form horizontal-three-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-so" name="so" value="{{form.so}}" required>
                        <label for="horizontal-so">Số</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-quyenSo" name="quyenSo" value="{{form.quyenSo}}" required>
                        <label for="horizontal-quyenSo">Quyển Sổ</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-trangSo" name="trangSo" value="{{form.trangSo}}" required>
                        <label for="horizontal-trangSo">Trang Số</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-ngayDangKy" name="ngayDangKy" value="{{form.ngayDangKy}}" required>
                        <label for="horizontal-ngayDangKy">Ngày Đăng Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-loaiDangKy" name="loaiDangKy" required>
                            {% for value, display in form.LoaiDangKy %}
                                <option value="{{ value }}" {% if value == form.loaiDangKy %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-loaiDangKy">Loại Đăng Ký</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-noiDangKy" name="noiDangKy" value="{{form.noiDangKy}}" required>
                        <label for="horizontal-noiDangKy">Nơi Đăng Ký</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-three-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nguoiKy" name="nguoiKy" value="{{form.nguoiKy}}" required>
                        <label for="horizontal-nguoiKy">Người Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-chucVuNguoiKy" name="chucVuNguoiKy" value="{{form.chucVuNguoiKy}}" required>
                        <label for="horizontal-chucVuNguoiKy">Chức Vụ Người Ký</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nguoiThucHien" name="nguoiThucHien" value="{{form.nguoiThucHien}}" required>
                        <label for="horizontal-nguoiThucHien">Người Thực Hiện</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group textarea-active">
                        <textarea id="horizontal-ghiChu" name="ghiChu" required>{{ form.ghiChu }}</textarea>
                        <label for="horizontal-ghiChu">Ghi Chú</label>
                    </div>
                </div>
                <!-- Second Section -->
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nksHoTen" name="nksHoTen" value="{{form.nksHoTen}}" required>
                        <label for="horizontal-nksHoTen">NKS: Họ và tên</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-nksGioiTinh" name="nksGioiTinh" required>
                            {% for value, display in form.GioiTinh %}
                                <option value="{{ value }}" {% if value == form.nksGioiTinh %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nksGioiTinh">NKS: Giới Tính</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nksNgaySinh" name="nksNgaySinh" value="{{form.nksNgaySinh}}" required>
                        <label for="horizontal-nksNgaySinh">NKS: Ngày Sinh</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nksNgaySinhBangChu" name="nksNgaySinhBangChu" value="{{form.nksNgaySinhBangChu}}" required>
                        <label for="horizontal-nksNgaySinhBangChu">NKS: Ngày Sinh Bằng Chữ</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nksNoiSinh" name="nksNoiSinh" value="{{form.nksNoiSinh}}" required>
                        <label for="horizontal-nksNoiSinh">NKS: Nơi Sinh</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nksQueQuan" name="nksQueQuan" value="{{form.nksQueQuan}}" required>
                        <label for="horizontal-nksQueQuan">NKS: Quê Quán</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-nksDanToc" name="nksDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.nksDanToc %}selected{% endif %}>
                                {{ display }}
                            </option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-nksDanToc">NKS: Dân Tộc</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-nksQuocTich" name="nksQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.nksQuocTich %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nksQuocTich">NKS: Quốc Tịch</label>
                    </div>
                </div>
                <div class="horizontal-form full-width">
                    <div class="horizontal-form-group">
                        <select id="horizontal-nksLoaiKhaiSinh" name="nksLoaiKhaiSinh" required>
                            {% for value, display in form.LoaiKhaiSinh %}
                                <option value="{{ value }}" {% if value == form.nksLoaiKhaiSinh %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-nksLoaiKhaiSinh">NKS: Loại Khai Sinh</label>
                    </div>
                </div>
                <!-- Third Section: Mother's Information -->
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-meHoTen" name="meHoTen" value="{{form.meHoTen}}" required>
                        <label for="horizontal-meHoTen">Mẹ: Họ và tên</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-meNgaySinh" name="meNgaySinh" value="{{form.meNgaySinh}}" required>
                        <label for="horizontal-meNgaySinh">Mẹ: Ngày sinh</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-meDanToc" name="meDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.meDanToc %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-meDanToc">Mẹ: Dân Tộc</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-meQuocTich" name="meQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.meQuocTich %}selected{% endif %} >{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-meQuocTich">Mẹ: Quốc tịch</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-meLoaiCuTru" name="meLoaiCuTru" required>
                            {% for value, display in form.LoaiCuTru %}
                            <option value="{{ value }}" {% if value == form.meLoaiCuTru %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-meLoaiCuTru">Mẹ: Loại cư trú</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-meNoiCuTru" name="meNoiCuTru" value="{{form.meNoiCuTru}}" required>
                        <label for="horizontal-meNoiCuTru">Mẹ: Nơi cư trú</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-meLoaiGiayToTuyThan" name="meLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                                <option value="{{ value }}" {% if value == form.meLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-meLoaiGiayToTuyThan">Mẹ: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-meSoGiayToTuyThan" name="meSoGiayToTuyThan" value="{{form.meSoGiayToTuyThan}}" required>
                        <label for="horizontal-meSoGiayToTuyThan">Mẹ: Số giấy tờ tùy thân</label>
                    </div>
                </div>
                <!-- Fourth Section: Father's Information -->
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-chaHoTen" name="chaHoTen" value="{{form.chaHoTen}}" required>
                        <label for="horizontal-chaHoTen">Cha: Họ và tên</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-chaNgaySinh" name="chaNgaySinh" value="{{form.chaNgaySinh}}" required>
                        <label for="horizontal-chaNgaySinh">Cha: Ngày sinh</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-chaDanToc" name="chaDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.chaDanToc %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-chaDanToc">Cha: Dân tộc</label>
                    </div>
                    <div class="horizontal-form-group">
                        <select id="horizontal-chaQuocTich" name="chaQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.chaQuocTich %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-chaQuocTich">Cha: Quốc tịch</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-chaLoaiCuTru" name="chaLoaiCuTru" required>
                            {% for value, display in form.LoaiCuTru %}
                                <option value="{{ value }}" {% if value == form.chaLoaiCuTru %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="horizontal-chaLoaiCuTru">Cha: Loại cư trú</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-chaNoiCuTru" name="chaNoiCuTru" value="{{form.chaNoiCuTru}}" required>
                        <label for="horizontal-chaNoiCuTru">Cha: Nơi cư trú</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-chaLoaiGiayToTuyThan" name="chaLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                            <option value="{{ value }}" {% if value == form.chaLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-chaLoaiGiayToTuyThan">Cha: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-chaSoGiayToTuyThan" name="chaSoGiayToTuyThan" value="{{form.chaSoGiayToTuyThan}}" required>
                        <label for="horizontal-chaSoGiayToTuyThan">Cha: Số giấy tờ tùy thân</label>
                    </div>
                </div>
                <!-- Fifth Section: Others -->
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycHoTen" name="nycHoTen" value="{{form.nycHoTen}}" required>
                        <label for="horizontal-nycHoTen">NYC: Họ và tên</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycQuanHe" name="nycQuanHe" value="{{form.nycQuanHe}}" required>
                        <label for="horizontal-nycQuanHe">NYC: Quan hệ</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <select id="horizontal-nycLoaiGiayToTuyThan" name="nycLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                            <option value="{{ value }}" {% if value == form.nycLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="horizontal-nycLoaiGiayToTuyThan">NYC: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycGiayToKhac" name="nycGiayToKhac" value="{{form.nycGiayToKhac}}" required>
                        <label for="horizontal-nycGiayToKhac">NYC: Giấy tờ khác</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-two-columns">
                    <div class="horizontal-form-group">
                        <input type="number" id="horizontal-nycSoGiayToTuyThan" name="nycSoGiayToTuyThan" value="{{form.nycSoGiayToTuyThan}}" required>
                        </input>
                        <label for="horizontal-nycSoGiayToTuyThan">NYC: Số giấy tờ tùy thân</label>
                    </div>
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycNgayCapGiayToTuyThan" name="nycNgayCapGiayToTuyThan" value="{{form.nycNgayCapGiayToTuyThan}}"
                            required>
                        <label for="horizontal-nycNgayCapGiayToTuyThan">NYC: Ngày cấp giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="horizontal-form horizontal-full-width">
                    <div class="horizontal-form-group">
                        <input type="text" id="horizontal-nycNoiCapGiayToTuyThan" name="nycNoiCapGiayToTuyThan" value="{{form.nycNoiCapGiayToTuyThan}}"
                            required>
                        <label for="horizontal-nycNoiCapGiayToTuyThan">NYC: Nơi cấp giấy tờ tùy thân</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-buttons">
            <button type="button" class="review">Review</button>
            <button type="submit" class="save">Lưu</button>
        </div>
    </form>
</div>

<div id="tab4-content" class="horizontal-tab-content">
    <div class="horizontal-doc-info-tab">
        Test
    </div>
</div>


<style>
    /* CSS for Horizontal Form */
    .horizontal-form-container {
        overflow: auto;
        flex: 1;
        margin-bottom: 20px;
        padding-top: inherit;
        max-height: 65vh;
    }

    .horizontal-form {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }

    .horizontal-form-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .horizontal-form-group textarea {
        height: 80px;
    }

    .horizontal-form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .5s;
        color: #a5a5a5;
    }

    .horizontal-form-group input,
    .horizontal-form-group select,
    .horizontal-form-group textarea {
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        background: transparent;
        transition: .5s;
        resize: none;
    }

    .horizontal-form-group.textarea-active label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
    }

    .horizontal-form-group input:focus~label,
    .horizontal-form-group input:valid~label,
    .horizontal-form-group select:focus~label,
    .horizontal-form-group select:valid~label,
    .horizontal-form-group textarea:focus~label,
    .horizontal-form-group textarea:valid~label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
        color: black;
    }

    .horizontal-specialLabel {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 0%;
        left: 10px;
        transform: translateY(-50%);
        color: #555;
        transition: .5s;
    }

    .horizontal-two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .horizontal-three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .horizontal-four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .horizontal-full-width {
        grid-column: span 4;
    }

    .horizontal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .horizontal-buttons button {
        width: 28%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .horizontal-buttons .review {
        background-color: #4CAF50;
    }

    .horizontal-buttons .save {
        background-color: #007BFF;
    }

    .horizontal-buttons button:hover {
        opacity: 0.9;
    }

    .horizontal-input-form-border {
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .horizontal-tab-selection-item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .horizontal-item-tab {
        border-radius: 5px;
        color: black;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .horizontal-item-tab.active {
        background-color: #c5c5c5;
        color: #8383ff;
        box-shadow: 0px 3px 0px #a5a5a5 inset;
    }

    .horizontal-tab-content {
        display: none;
    }

    .horizontal-tab-content.active {
        display: block;
    }

    .horizontal-doc-info-tab {
        display: grid;
        min-width: 40%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }
</style>