{% extends 'bases/base.html' %}
{% block content %}
{% load static %}
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield; /* For Firefox */
    }
    .input-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f8f9fa;
        height: 88vh;
    }


    .right-side {
        max-width: 40%;
        min-width: 40%;
        background-color: #ffffff;
        padding-top: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .progress-bar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
    }

    .progress-bar-container span {
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }

    .progress-container {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        padding: 2px;
    }

    .progress-text {
        margin-right: auto;
    }

    .image-buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        background-color: #f8f9fa;
    }

    .progress-value {
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: inherit;
    }

    .image-buttons button {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 0.1px solid #ccc;
        box-shadow: 0px -2px 0px #a5a5a5 inset;
    }

    .image-buttons button:hover {
        opacity: 0.9;
    }

    .toolbar {
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
    }

    .toolbar button {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 0.1px solid #ccc;
        box-shadow: 0px -2px 0px #a5a5a5 inset;
        margin: 0 5px;
    }

    .toolbar button:hover {
        opacity: 0.9;
    }


    .under-side {
        max-width: 100%;
        min-width: 50%;
        background-color: #ffffff;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        align-items: flex-start;
        overflow: auto;
        max-height: 50vh;
    }

    .under-side .form-group {
        flex: 1 1 48%;
        margin: 10px 1%;
    }

    .under-side .full-width {
        flex: 1 1 100%;
    }

    .under-side .buttons {
        flex: 1 1 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .under-side .buttons button {
        width: 100px;
        padding: 10px 20px;
    }

#horizontal-form.under-side {
    width: 100%;
    margin-top: 5rem;
}
    .left-side {
    width: 60%;
    height: 80vh;
}

.scrollable-image-container {
    max-height: 100%; 
    height: 100%;
}

#MyPDF {
    width: 100%;
    height: 100%; /* Make sure the iframe uses full height */
}

</style>

<div class="input-container">
    <div class="left-side">
        <div class="progress-bar-container">
            <span> <a href="../statistic/" style="color:black; text-decoration:none">
                    < Danh sách</a></span>
            <div class="progress-container">
                <span class="progress-text">Khối lượng file đã thực hiện:</span>
                <div class="progress-value">35%</div>
            </div>
        </div>

        <div class="scrollable-image-container">
            <iframe id= "MyPDF" src="{{ form.pdf_path }}" frameborder="0"></iframe>
        </div>  
        <div class="image-buttons">
            <button onclick="goBack()">
                < Quay lại</button>
            <button onclick="goNext()">Tiếp theo ></button>
        </div>
    </div>

    <div id="vertical-form" class="right-side">
        {% include 'pages/input_verticalform.html' %}
    </div>

    <div id="horizontal-form" class="under-side" style="display: none;">
        {% include 'pages/input_horizontalform.html' %}
    </div>

</div>

<script>
    const tab1 = document.getElementById('tab1');
    const tab2 = document.getElementById('tab2');
    const tab3 = document.getElementById('tab3');
    const tab4 = document.getElementById('tab4');
    const tab1Content = document.getElementById('tab1-content');
    const tab2Content = document.getElementById('tab2-content');
    const tab3Content = document.getElementById('tab3-content');
    const tab4Content = document.getElementById('tab4-content');

    tab1.addEventListener('click', () => {
        tab1.classList.add('active');
        tab2.classList.remove('active');
        tab1Content.classList.add('active');
        tab2Content.classList.remove('active');
    });

    tab2.addEventListener('click', () => {
        tab2.classList.add('active');
        tab1.classList.remove('active');
        tab2Content.classList.add('active');
        tab1Content.classList.remove('active');
    });

    tab3.addEventListener('click', () => {
        tab3.classList.add('active');
        tab4.classList.remove('active');
        tab3Content.classList.add('active');
        tab4Content.classList.remove('active');
    });


    tab4.addEventListener('click', () => {
        tab4.classList.add('active');
        tab3.classList.remove('active');
        tab4Content.classList.add('active');
        tab3Content.classList.remove('active');
    });

    let isVerticalLayout = true;

    function setupTabs(layout) {
        const tabs = document.querySelectorAll(`.${layout} .tab`);
        const tabContents = document.querySelectorAll(`.${layout} .tab-content`);

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const id = tab.getAttribute('data-tab');
                const activeTab = document.querySelector(`.${layout} .tab.active`);
                const activeContent = document.querySelector(`.${layout} .tab-content.active`);

                if (activeTab) {
                    activeTab.classList.remove('active');
                }

                if (activeContent) {
                    activeContent.classList.remove('active');
                }

                tab.classList.add('active');
                document.getElementById(id).classList.add('active');
            });
        });

        // Khởi tạo trạng thái mặc định cho tab đầu tiên
        const firstTab = document.querySelector(`.${layout} .tab`);
        const firstContent = document.querySelector(`.${layout} .tab-content`);
        if (firstTab && firstContent) {
            firstTab.classList.add('active');
            firstContent.classList.add('active');
        }
    }

    function toggleLayout() {
        const container = document.querySelector('.input-container');
        const verticalForm = document.getElementById('vertical-form');
        const horizontalForm = document.getElementById('horizontal-form');
        const leftSide = document.querySelector('.left-side');
        const activeTab = document.querySelector('.tab.active');

        if (isVerticalLayout) {
            container.style.flexDirection = 'column';
            verticalForm.style.display = 'none';
            horizontalForm.style.display = 'flex';

            leftSide.style.maxWidth = '100%';
            leftSide.style.minWidth = '100%';
            leftSide.style.maxHeight = '100%'; 
            leftSide.style.minHeight = '100%';

            container.style.height = 'fit-content'; 

            if (activeTab) {
                const correspondingTab = horizontalForm.querySelector(`#${activeTab.id}`);
                if (correspondingTab) {
                    correspondingTab.classList.add('active');
                }
            }
        } else {
            container.style.flexDirection = 'row';
            verticalForm.style.display = 'flex';
            horizontalForm.style.display = 'none';

            leftSide.style.maxWidth = '60%';
            leftSide.style.minWidth = '60%';
            leftSide.style.maxHeight = '100%';
            leftSide.style.minHeight = '100%';

            container.style.height = '100%'; 


            if (activeTab) {
                const correspondingTab = verticalForm.querySelector(`#${activeTab.id}`);
                if (correspondingTab) {
                    correspondingTab.classList.add('active');
                }
            }
        }

        isVerticalLayout = !isVerticalLayout;
        setupTabs(isVerticalLayout ? 'vertical' : 'horizontal');
    }

    document.addEventListener('DOMContentLoaded', () => {
        setupTabs('vertical');

        document.getElementById('layout-toggle').addEventListener('click', () => {
            toggleLayout();
        });
    });
</script>

{% endblock %}