<div class="vertical-tab-selection-item vertical-two-columns">
    <div id="tab1" class="vertical-item-tab active"><i class='bx bx-edit-alt'></i>Nhập Liệu</div>
    <div id="tab2" class="vertical-item-tab"><i class='bx bx-info-circle'></i>Thông tin tài liệu</div>
    <button class="vertical-item-tab" id="Tlayoutbutton" onclick="toggleLayout()">Toggle Layout</button>
</div>

<div id="tab1-content" class="vertical-tab-content active">
    <form method="POST">
        {% csrf_token %}
        <div class="vertical-input-form-border">
            <div class="vertical-form-container">
                <!-- First Section -->
                <div class="vertical-form vertical-three-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-so" name="so" value="{{form.so}}" required>
                        <label for="vertical-so">Số</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-quyenSo" name="quyenSo" value="{{form.quyenSo}}" required>
                        <label for="vertical-quyenSo">Quyển Sổ</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-trangSo" name="trangSo" value="{{form.trangSo}}" required>
                        <label for="vertical-trangSo">Trang Số</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-ngayDangKy" name="ngayDangKy" value="{{form.ngayDangKy}}" required>
                        <label for="vertical-ngayDangKy">Ngày Đăng Ký</label>
                    </div>
                    <div class="vertical-form-group">
                        <select id="vertical-loaiDangKy" name="loaiDangKy" required>
                            {% for value, display in form.LoaiDangKy %}
                                <option value="{{ value }}" {% if value == form.loaiDangKy %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="vertical-loaiDangKy">Loại Đăng Ký</label>
                    </div>
                </div>
                <div class="vertical-form vertical-full-width">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-noiDangKy" name="noiDangKy" value="{{form.noiDangKy}}" required>
                        <label for="vertical-noiDangKy">Nơi Đăng Ký</label>
                    </div>
                </div>
                <div class="vertical-form vertical-three-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nguoiKy" name="nguoiKy" value="{{form.nguoiKy}}" required>
                        <label for="vertical-nguoiKy">Người Ký</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-chucVuNguoiKy" name="chucVuNguoiKy" value="{{form.chucVuNguoiKy}}" required>
                        <label for="vertical-chucVuNguoiKy">Chức Vụ Người Ký</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nguoiThucHien" name="nguoiThucHien" value="{{form.nguoiThucHien}}" required>
                        <label for="vertical-nguoiThucHien">Người Thực Hiện</label>
                    </div>
                </div>
                <div class="vertical-form vertical-full-width">
                    <div class="vertical-form-group textarea-active">
                        <textarea id="vertical-ghiChu" name="ghiChu" required>{{form.ghiChu}}</textarea>
                        <label for="vertical-ghiChu">Ghi Chú</label>
                    </div>
                </div>
                <!-- Second Section -->
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nksHoTen" name="nksHoTen" value="{{form.nksHoTen}}" required>
                        <label for="vertical-nksHoTen">NKS: Họ và tên</label>
                    </div>
                    <div class="vertical-form-group">
                        <select id="vertical-nksGioiTinh" name="nksGioiTinh" required>
                            {% for value, display in form.GioiTinh %}
                                <option value="{{ value }}" {% if value == form.nksGioiTinh %}selected{% endif %}>
                                    {{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="vertical-nksGioiTinh">NKS: Giới Tính</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nksNgaySinh" name="nksNgaySinh" value="{{form.nksNgaySinh}}" required>
                        <label for="vertical-nksNgaySinh">NKS: Ngày Sinh</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nksNgaySinhBangChu" name="nksNgaySinhBangChu" value="{{form.nksNgaySinhBangChu}}" required>
                        <label for="vertical-nksNgaySinhBangChu">NKS: Ngày Sinh Bằng Chữ</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nksNoiSinh" name="nksNoiSinh" value="{{form.nksNoiSinh}}" required>
                        <label for="vertical-nksNoiSinh">NKS: Nơi Sinh</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-nksQueQuan" name="nksQueQuan" value="{{form.nksQueQuan}}" required>
                        <label for="vertical-nksQueQuan">NKS: Quê Quán</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-nksDanToc" name="nksDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.nksDanToc %}selected{% endif %}>
                                {{ display }}
                            </option>
                        {% endfor %}
                        </select>
                        <label for="vertical-nksDanToc">NKS: Dân Tộc</label>
                    </div>
                    <div class="vertical-form-group">
                        <select id="vertical-nksQuocTich" name="nksQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.nksQuocTich %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="vertical-nksQuocTich">NKS: Quốc Tịch</label>
                    </div>
                </div>
                <div class="vertical-form vertical-full-width">
                    <div class="vertical-form-group">
                        <select id="vertical-nksLoaiKhaiSinh" name="nksLoaiKhaiSinh" required>
                            {% for value, display in form.LoaiKhaiSinh %}
                                <option value="{{ value }}" {% if value == form.nksLoaiKhaiSinh %}selected{% endif %}>
                                    {{ display }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="vertical-nksLoaiKhaiSinh">NKS: Loại Khai Sinh</label>
                    </div>
                </div>
                <!-- Third Section: Mother's Information -->
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-meHoTen" name="meHoTen" value="{{form.meHoTen}}" required>
                        <label for="vertical-meHoTen">Mẹ: Họ và tên</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-meNgaySinh" name="meNgaySinh" value="{{form.meNgaySinh}}" required>
                        <label for="vertical-meNgaySinh">Mẹ: Ngày sinh</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-meDanToc" name="meDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.meDanToc %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="vertical-meDanToc">Mẹ: Dân Tộc</label>
                    </div>
                    <div class="vertical-form-group">
                        <select id="vertical-meQuocTich" name="meQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.meQuocTich %}selected{% endif %} >{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="vertical-meQuocTich">Mẹ: Quốc tịch</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-meLoaiCuTru" name="meLoaiCuTru" required>
                            {% for value, display in form.LoaiCuTru %}
                            <option value="{{ value }}" {% if value == form.meLoaiCuTru %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="vertical-meLoaiCuTru">Mẹ: Loại cư trú</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-meNoiCuTru" name="meNoiCuTru" value="{{form.meNoiCuTru}}" required>
                        <label for="vertical-meNoiCuTru">Mẹ: Nơi cư trú</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-meLoaiGiayToTuyThan" name="meLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                                <option value="{{ value }}" {% if value == form.meLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="vertical-meLoaiGiayToTuyThan">Mẹ: Loại giấy tờ tùy thân</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-meSoGiayToTuyThan" name="meSoGiayToTuyThan" value="{{form.meSoGiayToTuyThan}}" required>
                        <label for="vertical-meSoGiayToTuyThan">Mẹ: Số giấy tờ tùy thân</label>
                    </div>
                </div>
                <!-- Fourth Section: Father's Information -->
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-chaHoTen" name="chaHoTen" value="{{form.chaHoTen}}" required>
                        <label for="vertical-chaHoTen">Cha: Họ và tên</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-chaNgaySinh" name="chaNgaySinh" value="{{form.chaNgaySinh}}" required>
                        <label for="vertical-chaNgaySinh">Cha: Ngày sinh</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-chaDanToc" name="chaDanToc" required>
                            {% for value, display in form.DanToc %}
                            <option value="{{ value }}" {% if value == form.chaDanToc %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="vertical-chaDanToc">Cha: Dân Tộc</label>
                    </div>
                    <div class="vertical-form-group">
                        <select id="vertical-chaQuocTich" name="chaQuocTich" required>
                            {% for value, display in form.QuocTich %}
                                <option value="{{ value }}" {% if value == form.chaQuocTich %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="vertical-chaQuocTich">Cha: Quốc tịch</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-chaLoaiCuTru" name="chaLoaiCuTru" required>
                            {% for value, display in form.LoaiCuTru %}
                                <option value="{{ value }}" {% if value == form.chaLoaiCuTru %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                        <label for="vertical-chaLoaiCuTru">Cha: Loại cư trú</label>
                    </div>
                    <div class="vertical-form-group">
                        <input type="text" id="vertical-chaHoTen" name="chaNoiCuTru" value="{{form.chaNoiCuTru}}" required>
                        <label for="vertical-chaHoTen">Cha: Nơi cư trú</label>
                    </div>
                </div>
                <div class="vertical-form vertical-two-columns">
                    <div class="vertical-form-group">
                        <select id="vertical-chaLoaiGiayToTuyThan" name="chaLoaiGiayToTuyThan" required>
                            {% for value, display in form.LoaiGiayToTuyThan %}
                            <option value="{{ value }}" {% if value == form.chaLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                        </select>
                        <label for="vertical-chaLoaiGiayTo">Cha: Loại giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="vertical-form vertical-full-width">
                    <div class="vertical-form-group">
                        <input type="number" id="vertical-chaSoGiayToTuyThan" name="chaSoGiayToTuyThan" value="{{form.chaSoGiayToTuyThan}}" required>
                        <label for="vertical-chaSoGiayToTuyThan">Cha: Số giấy tờ tùy thân</label>
                    </div>
                </div>
                <div class="vertical-form-section">
                    <div class="vertical-form vertical-two-columns">
                        <div class="vertical-form-group">
                            <input type="text" id="vertical-nycHoTen" name="nycHoTen" value="{{form.nycHoTen}}" required>
                            <label for="vertical-nycHoTen">NYC: Họ và tên</label>
                        </div>
                        <div class="vertical-form-group">
                            <input type="text" id="vertical-nycQuanHe" name="nycQuanHe" value="{{form.nycQuanHe}}" required>
                            <label for="vertical-nycQuanHe">NYC: Quan hệ</label>
                        </div>
                    </div>
                    <div class="vertical-form vertical-two-columns">
                        <div class="vertical-form-group">
                            <select id="vertical-nycLoaiGiayToTuyThan" name="nycLoaiGiayToTuyThan" required>
                                {% for value, display in form.LoaiGiayToTuyThan %}
                                <option value="{{ value }}" {% if value == form.nycLoaiGiayToTuyThan %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                            </select>
                            <label for="vertical-nycLoaiGiayToTuyThan">NYC: Loại giấy tờ tùy thân</label>
                        </div>
                        <div class="vertical-form-group">
                            <input type="text" id="vertical-nycGiayToKhac" name="nycGiayToKhac" value="{{form.nycGiayToKhac}}" required>
                            <label for="vertical-nycGiayToKhac">NYC: Giấy tờ khác</label>
                        </div>
                    </div>
                    <div class="vertical-form vertical-two-columns">
                        <div class="vertical-form-group">
                            <input type="number" id="vertical-nycSoGiayToTuyThan" name="nycSoGiayToTuyThan" value="{{form.nycSoGiayToTuyThan}}" required>
                            </input>
                            <label for="vertical-nycSoGiayToTuyThan">NYC: Số giấy tờ tùy thân</label>
                        </div>
                        <div class="vertical-form-group">
                            <input type="text" id="vertical-nycNgayCapGiayToTuyThan"
                                name="nycNgayCapGiayToTuyThan" value="{{form.nycNgayCapGiayToTuyThan}}" required>
                            <label for="vertical-nycNgayCapGiayToTuyThan">NYC: Ngày cấp giấy tờ tùy thân</label>
                        </div>
                    </div>
                    <div class="vertical-form vertical-full-width">
                        <div class="vertical-form-group">
                            <input type="text" id="vertical-nycNoiCapGiayToTuyThan"
                                name="nycNoiCapGiayToTuyThan" value="{{form.nycNoiCapGiayToTuyThan}}" required>
                            <label for="vertical-nycNoiCapGiayToTuyThan">NYC: Nơi cấp giấy tờ tùy thân</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="vertical-buttons">
            <button type="button" class="review">Review</button>
            <button type="submit" class="save">Lưu</button>
        </div>
    </form>
</div>
<div id="tab2-content" class="vertical-tab-content">
    <div class="vertical-doc-info-tab">
        <div class="info-container">
            <div class="form-group">
                <label class="info-label">Tên file</label>
                <input class="info-input" type="text" value="KT.2017.01.2018-03-26:19.pdf" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Số trang</label>
                <input class="info-input" type="text" value="1" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Dung lượng</label>
                <input class="info-input" type="text" value="714.34 Kb" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Kích cỡ</label>
                <input class="info-input" type="text" value="." disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Xã</label>
                <input class="info-input" type="text" value="xaphuocnam" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Loại số</label>
                <input class="info-input" type="text" value="kt" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Năm hình thành</label>
                <input class="info-input" type="text" value="2017" disabled>
            </div>
            <div class="form-group">
                <label class="info-label">Quyển số</label>
                <input class="info-input" type="text" value="01" disabled>
            </div>
        </div>
    </div>
</div>


<style>
    .vertical-form-container {
        overflow: auto;
        flex: 1;
        margin-bottom: 20px;
        padding-top: inherit;
        max-height: 65vh;
    }

    .vertical-form {
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding-bottom: 15px;
    }

    .vertical-form-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .vertical-form-group textarea {
        height: 80px;
    }

    .vertical-form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .5s;
        color: #a5a5a5;
    }

    .vertical-form-group input,
    .vertical-form-group select,
    .vertical-form-group textarea {
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        background: transparent;
        transition: .5s;
        resize: none;
    }

    .vertical-form-group.textarea-active label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
    }

    .vertical-form-group input:focus~label,
    .vertical-form-group input:valid~label,
    .vertical-form-group select:focus~label,
    .vertical-form-group select:valid~label,
    .vertical-form-group textarea:focus~label,
    .vertical-form-group textarea:valid~label {
        top: 0;
        font-size: 10px;
        background: #fff;
        padding: 0 5px;
        color: black;
    }

    .vertical-specialLabel {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 12px;
        position: absolute;
        top: 0%;
        left: 10px;
        transform: translateY(-50%);
        color: #555;
        transition: .5s;
    }

    .vertical-two-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .vertical-three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .vertical-four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .vertical-full-width {
        grid-column: span 4;
    }

    .vertical-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .vertical-buttons button {
        width: 28%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .vertical-buttons .review {
        background-color: #4CAF50;
    }

    .vertical-buttons .save {
        background-color: #007BFF;
    }

    .vertical-buttons button:hover {
        opacity: 0.9;
    }

    .vertical-input-form-border {
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 10px;
    }

    .vertical-tab-selection-item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .vertical-item-tab {
        border-radius: 5px;
        color: black;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .vertical-item-tab.active {
        background-color: #c5c5c5;
        color: #8383ff;
        box-shadow: 0px 3px 0px #a5a5a5 inset;
    }

    .vertical-tab-content {
        display: none;
    }

    .vertical-tab-content.active {
        display: block;
    }

    .vertical-doc-info-tab {
        display: grid;
        min-width: 40%;
        grid-gap: 10px;
        padding-bottom: 15px;
        height: 78.5vh;
    }
</style>