{% extends 'bases/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/home/wiki.css" %}">
<div class="wiki-container">
    <div class="wiki-info-container">
        <div class="left-container">
            <strong>Câu hỏi được hỏi nhiều nhất</strong>
            <div class="questions-container">
                <span class="question-title" data-bs-toggle="collapse" href="#question1" role="button"
                    aria-expanded="false" aria-controls="question1">
                    1. Các lỗi sai thường gặp khi nhập liệu
                </span>
                <div class="collapse" id="question1">
                    Some placeholder content for the collapse component.
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question2" role="button"
                    aria-expanded="false" aria-controls="question2">
                    2. Làm sao để nhập nhanh
                </span>
                <div class="collapse" id="question2">
                    Some placeholder content for the collapse component.
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question3" role="button"
                    aria-expanded="false" aria-controls="question3">
                    3. Sao bao lâu thì CTV nhận được tiền
                </span>
                <div class="collapse" id="question3">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question4" role="button"
                    aria-expanded="false" aria-controls="question4">
                    4. Điểm đánh giá được chấm như thế nào?
                </span>
                <div class="collapse" id="question4">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question5" role="button"
                    aria-expanded="false" aria-controls="question5">
                    5. Tôi muốn hỏi vấn đề thì làm như thế nào?
                </span>
                <div class="collapse" id="question5">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question6" role="button"
                    aria-expanded="false" aria-controls="question6">
                    6. Mật khẩu quá hạn hoặc không đăng nhập được?
                </span>
                <div class="collapse" id="question6">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question7" role="button"
                    aria-expanded="false" aria-controls="question7">
                    7. Chương trình phúc lợi cho CTV của DGS
                </span>
                <div class="collapse" id="question7">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question8" role="button"
                    aria-expanded="false" aria-controls="question8">
                    8. Tôi muốn làm leader hoặc nhân viên chính thức thì làm như thế nào?
                </span>
                <div class="collapse" id="question8">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question9" role="button"
                    aria-expanded="false" aria-controls="question9">
                    9. Các loại công việc có thể nhận trên DGS
                </span>
                <div class="collapse" id="question9">
                    Some placeholder content for the collapse component
                </div>
                <span class="question-title" data-bs-toggle="collapse" href="#question10" role="button"
                    aria-expanded="false" aria-controls="question10">
                    10. Các bước đăng ký công việc và nhận việc
                </span>
                <div class="collapse" id="question10">
                    Some placeholder content for the collapse component
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="payment-container">
                <strong>Hình thức thanh toán</strong>
            </div>
            <div class="certificate-container">
                <strong>Chứng nhận</strong>
                <div class="badges-container">
                    <img class="verified-badge"
                        src="https://lh3.googleusercontent.com/pw/AP1GczPu3pgIPyvs-SfNIA1D_F6844wNu0xHN2OK3GBTmPtQjvedu5M3PB2Hz-8alrMx0i7E_ccntFg60gXmGT0ILpylLEqkTVPeL0A7Fmrwor_wOqX2Jw=w2400"
                        alt="Đã đăng ký Bộ Công Thương">
                    <img class="verified-badge"
                        src="https://lh3.googleusercontent.com/pw/AP1GczPl1osD0-HAxG_7RH0ceqwuSsZctJoeW_8pe-Q4N2VnaksVqv9x0pXIWjwii2IWRjSCe4zJtNs2cRlastNMNGgx88FB2yAov2pwb2Esb8B1_jDAtA=w2400"
                        alt="Đã thông báo Bộ Công Thương">
                </div>
            </div>
        </div>
    </div>
    <div class="wiki-footer-container">
        <strong>Bạn cần trợ giúp?</strong>
        <div class="support-cards-container">
            <div class="card" id="connection-card">
                <div class="card-body">
                    <strong class="card-title"> Kết nối với DGS <i class='bx bx-link-alt'></i></strong>
                    <div class="card-content">
                        <a href="#">
                            <div class="icons8-zalo"></div>
                        </a>
                        <a href="#">
                            <div class="icons8-google"></div>
                        </a>
                        <a href="#">
                            <div class="icons8-facebook"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card" id="community-card">
                <div class="card-body">
                    <strong class="card-title"> Cộng đồng CTV DGS <i class='bx bx-buildings'></i></strong>
                    <div class="card-content">
                        <p>Cộng đồng chính thức của DGS, Nơi các bạn CTV có thể kết nối và hỗ trợ lẫn nhau</p>
                    </div>
                </div>
            </div>
            <div class="card" id="policy-card">
                <div class="card-body">
                    <strong class="card-title"> Quy định của DGS <i class='bx bx-pen'></i></strong>
                    <div class="card-content">
                        <p>
                            <a href="">Thỏa thuận bảo mật thông tin</a>
                            <a href="">Điều khoản thanh toán DGS</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}