{% load static %}
<link rel="stylesheet" href="{% static "css/bases/headnav.css" %}">
<nav class="head-navbar">
  <div class="search-container">
    <input type="text" class="form-control" placeholder="Tìm kiếm..." />
    <button type="submit" class="btn btn-primary">
      Search <i class="bx bx-search-alt"></i>
    </button>
  </div>
  <div class="profile-container">
    <i class="bx bxs-bell noti"></i>
    <img src="{% static "images/pallas.jpg" %}" alt="Profile"
    class="profile-img" />
    <div class="dropdown dropdown-container">
      <button
        class="btn dropdown-toggle profile-btn"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ user.username }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="{% url 'info' %}"
            >Thông tin <i class="bx bx-info-circle"></i
          ></a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Chỉnh sửa <i class="bx bxs-edit"></i
          ></a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'logout' %}"
            >Đăng xuất <i class="bx bx-exit"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>